<header>
    <h1 class='card-panel red darken-2'>Cadastrar Fotos</h1>
</header>
<main class='container center-align'>

    <div class="row">

        <div>{{photo.titulo}}</div>
        <div>{{photo.url}}</div>
        <div>{{photo.descricao}}</div>

        <form class="col s7" (submit)="send($event)">

            <div class="input-field col s12">
                <input (input)="photo.titulo = $event.target.value" id="titulo" type="text" class="validate">
                <label class="active" for="titulo">Título</label>
            </div>

            <div class="input-field col s12">
                <input (input)="photo.url = $event.target.value" id="url" type="text" class="validate">
                <label class="active" for="url">Url</label>
            </div>

            <div class="input-field col s12">
                <textarea (input)="photo.descricao = $event.target.value" id="descricao" cols="30" rows="10" class="materialize-textarea"></textarea>
                <label class="active" for="descricao">Descrição</label>
            </div>


            <a class="btn grey lighten-1" routerLink="">Voltar</a>
            <button class="btn">Salvar</button>

        </form>

        <aside class="col s5">

            <h3>Preview</h3>

        </aside>

    </div>

</main>