<header>
    <h1 class='card-panel red darken-2'>Cadastrar Fotos</h1>
</header>
<main class='container center-align'>

    <div class="row">
        <form class="col s7" (ngSubmit)="send()">

            <div class="input-field col s12">
                <input [(ngModel)]="photo.titulo" id="titulo" name="titulo" type="text" class="validate">
                <label class="active" for="titulo">Título</label>
            </div>

            <div class="input-field col s12">
                <input [(ngModel)]="photo.url" id="url" name="url" type="text" class="validate">
                <label class="active" for="url">Url</label>
            </div>

            <div class="input-field col s12">
                <textarea [(ngModel)]="photo.descricao" id="descricao" name="descricao" cols="30" rows="10" class="materialize-textarea"></textarea>
                <label class="active" for="descricao">Descrição</label>
            </div>


            <a class="btn grey lighten-1" routerLink="">Voltar</a>
            <button class="btn">Salvar</button>

        </form>

        <aside class="col s2">

            <h3>Preview</h3>

            <card [titulo]="photo.titulo">
                <photo url="{{photo.url}}" titulo="{{photo.titulo}}"></photo>
            </card>

        </aside>

    </div>

</main>